/* line 8, ../scss/admin.scss */
#tab_pronamic_pay h3 .dashicons.fa- {
  font-size: inherit;
  width: auto;
  height: auto;
}

/* line 18, ../scss/admin.scss */
#titlediv + #gf-pay-feed-editor {
  margin-top: 1em;
}

/* line 24, ../scss/admin.scss */
#gf-pay-feed-editor .form-table ul {
  margin: 10px 0 0;
}
/* line 30, ../scss/admin.scss */
#gf-pay-feed-editor .pronamic-pay-tab .pronamic-pay-tab-block {
  background: #fff;
}
/* line 36, ../scss/admin.scss */
#gf-pay-feed-editor .pronamic-pay-tab .pronamic-pay-table-striped tr:not(.even) {
  background: #fff;
}
/* line 42, ../scss/admin.scss */
#gf-pay-feed-editor .pronamic-pay-tab input + select {
  vertical-align: initial;
}
/* line 50, ../scss/admin.scss */
#gf-pay-feed-editor .pronamic-gf-subscription-tab fieldset .pronamic-pay-gf-subscription-trial-settings label {
  display: block;
}

/* line 60, ../scss/admin.scss */
.gforms_edit_form .ideal-edit-link {
  display: none;
  float: right;
  font-size: 10px;
  line-height: 16px;
  height: 16px;
  text-decoration: none;
}
/* line 76, ../scss/admin.scss */
.gforms_edit_form .field_hover .ideal-edit-link,
.gforms_edit_form .field_selected .ideal-edit-link {
  display: block;
}

/* line 85, ../scss/admin.scss */
.form-table .pronamic-pay-description {
  display: block;
}
/* line 91, ../scss/admin.scss */
.form-table.pronamic-gf-links-tab fieldset {
  line-height: 2.75em;
}

/* line 98, ../scss/admin.scss */
.pronamic-pay-gf-form-choice-list {
  margin: 0 !important;
}

/* line 102, ../scss/admin.scss */
.pronamic-pay-gf-form-choice-list > li {
  margin: 0;
}

/* line 110, ../scss/admin.scss */
.pronamic-pay-gf-form-choice .pronamic-pay-gf-form-choice-checked {
  margin-left: 2em;
}

/* line 114, ../scss/admin.scss */
.pronamic-pay-gf-form-choice > input + label + .pronamic-pay-gf-form-choice-checked {
  display: none;
}

/* line 118, ../scss/admin.scss */
.pronamic-pay-gf-form-choice > input:checked + label + .pronamic-pay-gf-form-choice-checked {
  display: block;
}
