/**
 * Gravity Forms notifications
 */
/* line 5, ../sass/admin.scss */
#gf-ideal-feed-editor .form-table td ul {
  margin: 10px 0 0 0;
}
/* line 9, ../sass/admin.scss */
#gf-ideal-feed-editor .form-table td ul li input[type="checkbox"] + label {
  vertical-align: top;
}
/* line 16, ../sass/admin.scss */
#gf-ideal-feed-editor .pronamic-gf-links-tab label {
  line-height: 1.9em;
}
/* line 20, ../sass/admin.scss */
#gf-ideal-feed-editor .all-merge-tags + span.description {
  display: block;
}

/**
 * Gravity Forms editor
 */
/* line 28, ../sass/admin.scss */
.gforms_edit_form .ideal-edit-link {
  display: none;
  float: right;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  text-decoration: none;
}

/* line 42, ../sass/admin.scss */
.gforms_edit_form .field_hover .ideal-edit-link,
.gforms_edit_form .field_selected .ideal-edit-link {
  display: block;
}

/* line 48, ../sass/admin.scss */
.pronamic-pay-description {
  padding-top: 0;
}
