/* line 3, ../sass/admin.scss */
#gf-ideal-feed-editor .form-table td ul {
  margin: 10px 0 0;
}
/* line 7, ../sass/admin.scss */
#gf-ideal-feed-editor .form-table td ul li input[type='checkbox'] + label {
  vertical-align: top;
}
/* line 14, ../sass/admin.scss */
#gf-ideal-feed-editor .pronamic-gf-links-tab label {
  line-height: 1.9em;
}
/* line 18, ../sass/admin.scss */
#gf-ideal-feed-editor .all-merge-tags + span.description {
  display: block;
}

/* line 25, ../sass/admin.scss */
.gforms_edit_form .ideal-edit-link {
  display: none;
  float: right;
  font-size: 10px;
  line-height: 16px;
  height: 16px;
  text-decoration: none;
}
/* line 41, ../sass/admin.scss */
.gforms_edit_form .field_hover .ideal-edit-link,
.gforms_edit_form .field_selected .ideal-edit-link {
  display: block;
}

/* line 50, ../sass/admin.scss */
.form-table .pronamic-pay-description {
  padding-top: 0;
}
