/**
 * Gravity Forms notifications
 */
#gf-ideal-feed-editor {
	.form-table td ul {
		margin: 10px 0 0 0;

		li {
			input[type="checkbox"] + label {
				vertical-align: top;
			}

		}
	}

	.pronamic-gf-links-tab label {
		line-height: 1.9em;
	}

	.all-merge-tags + span.description {
		display: block;
	}
}

/**
 * Gravity Forms editor
 */
.gforms_edit_form .ideal-edit-link {
	display: none;

	float: right;

	font-size: 10px;

	height: 16px;

	line-height: 16px;

	text-decoration: none;
}

.gforms_edit_form .field_hover .ideal-edit-link ,
.gforms_edit_form .field_selected .ideal-edit-link {
	display: block;
}
