# Build
/build/

# Composer
/composer.lock
/vendor/

# Eclipse
/.buildpath
/.project
/.settings

# Node.js
/package-lock.json
/node_modules/

# SASS
.sass-cache

# wp-env
/.wp-env.override.json

# WordPress
/wordpress/

# WordPress content
/wp-content/

# Packages
/packages/
