<?xml version="1.0"?>

<ruleset name="WordPress Pay Gravity Forms rules">
	<config name="installed_paths" value="vendor/wp-coding-standards/wpcs,vendor/wimg/php-compatibility" />

	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.3-99.0" />

	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>
	<exclude-pattern>wp-content/*</exclude-pattern>

	<rule ref="PHPCompatibility" />

	<rule ref="WordPress">
		<exclude name="Generic.Files.LowercasedFilename.NotFound" />

		<exclude name="Squiz.Commenting" />
		<exclude name="Squiz.PHP.CommentedOutCode.Found" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

		<exclude name="WordPress.NamingConventions.ValidVariableName.NotSnakeCaseMemberVar" />

		<!-- Exclude for wp_json_encode() function -->
		<exclude name="WordPress.PHP.DiscouragedFunctions.DiscouragedWithAlternative" />

		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_unserialize" />

		<exclude name="WordPress.VIP.RestrictedFunctions.get_posts" />
		<exclude name="WordPress.VIP.RestrictedFunctions.wp_redirect" />
		<exclude name="WordPress.VIP.RestrictedFunctions.user_meta" />
		<exclude name="WordPress.VIP.RestrictedFunctions.user_meta_get_user_meta" />
		<exclude name="WordPress.VIP.RestrictedFunctions.user_meta_update_user_meta" />
        <exclude name="WordPress.VIP.RestrictedFunctions.wp_redirect_wp_redirect" />

        <exclude name="WordPress.VIP.SlowDBQuery.slow_db_query_meta_key" />
        <exclude name="WordPress.VIP.SlowDBQuery.slow_db_query_meta_query" />
	</rule>

	<rule ref="WordPress.VIP.SlowDBQuery.slow_db_query">
		<exclude-pattern>/src/functions.php</exclude-pattern>
		<exclude-pattern>/src/Admin.php</exclude-pattern>
		<exclude-pattern>/src/AdminPaymentFormPostType.php</exclude-pattern>
		<exclude-pattern>/src/PaymentAddOn.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.VIP.DirectDatabaseQuery">
		<!-- For now a direct database query is the most efficient way -->
		<exclude-pattern>/src/functions.php</exclude-pattern>
	</rule>
</ruleset>
