<?xml version="1.0"?>

<ruleset name="WordPress Pay Gravity Forms rules">
	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.3-" />

	<file>.</file>

	<arg name="colors"/>
	<arg name="extensions" value="php" />
	<arg value="sp" />

	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>
	<exclude-pattern type="relative">^wp-content/*</exclude-pattern>

	<rule ref="PHPCompatibilityWP" />

	<rule ref="WordPress">
		<exclude name="Generic.Files.LowercasedFilename.NotFound" />

		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_key" />
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_query" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

		<exclude name="WordPress.NamingConventions.ValidVariableName.NotSnakeCaseMemberVar" />

		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_unserialize" />

		<exclude name="WordPress.Security.SafeRedirect.wp_redirect_wp_redirect" />
	</rule>

	<rule ref="WordPress.WP.GlobalVariablesOverride.OverrideProhibited">
		<exclude-pattern>views/html-admin-feed-settings.php</exclude-pattern>
	</rule>
</ruleset>
