includes:
	- vendor-bin/phpstan/vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	customRulesetUsed: false
	level: 1
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	paths:
		- src/
	scanDirectories:
		- vendor/pronamic/gravityforms
